@import '../../style/font';
@import '../../style/colours';
@import '../../style/func';

.editToggle {
    @include flex(row, flex-end, center);
    
    .toggleIcon {
        font-size: 20px;
        color: $blue;
    }
}

.deleteIcon {
    font-size: 23px;
    color: #F5413B;
}