@import '../../style/font';
@import '../../style/colours';
@import '../../style/func';


.item-cont {
    flex:1;
    @include flex(row, center, center);
    margin-bottom: 10px;
    .item {
        flex: 1;
        @extend %drop-shadow;
        @include flex(row, space-between, center);
        padding: 5px 20px;
        border-radius: 10px;
        background-color: white;
        
        h3 {
            @extend %font-h2;
            // color: $blue;
        }
    
        .itemAlert {
            font-size: 20px;
            color: darkorange;
            @include flex(row, flex-end, center);
        }
    
        .invisible {
            visibility: hidden;
        }
    
    }
}
