@import '../../style/font';
@import '../../style/colours';
@import '../../style/func';

.addbutton-cont {
    display: inline-block;
    margin-right: 30px;
    .addButton {
        @include flex(row, center, center);
        .addButtonIcon {
            color: $blue;
        }
        .addButtonText {
            @extend %font-body;
        }
    
    }
}
