@import 'colours';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700&display=swap');

$fontfamily: 'Source Sans Pro', sans-serif;


// Profile username
// Breadcrumbs
// Task description and comments
%font-body {
    font-family: $fontfamily;
    font-size: 14px;
    font-weight: 600;
    margin:0px;
}

// Comment date and username
// icon labels 
%font-detail-text {
    font-family: $fontfamily;
    font-size: 12px;
    font-weight: 600;
    margin:0px;
    color:$grey;
}

// Popup title and button
// Item (window, floor, task) name
// Profile company name
%font-h2 {
    font-family: $fontfamily;
    font-size: 20px;
    font-weight: 700;
    margin:0px;
}

// Page name
%font-h1 {
    font-family: $fontfamily;
    font-size: 48px;
    font-weight: 700;
    margin:0px;
}