@mixin flex($dir:row,$just:center,$item:center){
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $item;
}

@mixin grid($num){
    display: grid;
    grid-template-columns: repeat($num, 1fr);
}

%routes {
    width: 70%;
    margin: 40px auto;
    // overflow-y: scroll;
    height: 50vh;
}