@import '../../style/font';
@import '../../style/colours';
@import '../../style/func';


.tagCont {
    display:inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    .tagtext {
        @extend %font-body;
        color: white;
        text-align: center;
    }
}

.green {
    background-color: $green;
}

.yellow {
    background-color: $green;
}

.hidden {
    visibility: hidden;
}
//need to make the approved tag red