@import '../../style/font';
@import '../../style/colours';
@import '../../style/func';


.progress {
  @include flex(row, center, center);
  .bar-cont {
      border: solid 3px $blue;
      width: 260px;
      height: 29px;
      border-radius: 8px;
    }
  .prog-bar {
    background-color: $blue;
    width: 135px;
    height: 29px;
    border-radius: 6px, 0;
  }
  .prog-pct {
    margin-left: 8px;
    color: $blue;
    @extend %font-h2;
  }

  }