@import 'style/colours'; 
.App {
    background-color: $appBg;
    width: 100vw;
    height: 100vh;
    overflow:scroll;
    a {
        text-decoration: none;
        &:visited {
            color: $black;
        }
        &:active {
            text-decoration: none;
            color: $black;
        }
    }
    input:focus {
        outline:none;
    }
}


// Pages Styles
@import './pages/Main/main.scss';
@import './pages/Projects/projects.scss';
@import './pages/ProjectPage/projectpage.scss';
@import './pages/Floor/floor.scss';
@import './pages/Window/window.scss';
@import './pages/Upgrade/upgrade.scss';
@import './pages/Pay/pay.scss';
@import './pages/Template/template.scss';

// Comps Styles
@import './comp/AddButton/addbutton.scss';
@import './comp/Profile/profile.scss';
@import './comp/Project/project.scss';
@import './comp/TaskListItem/tasklistitem.scss';
@import './comp/SingleComment/singlecomment.scss';
@import './comp/EditToggle/editToggle.scss';
@import './comp/Tag/tag.scss';
@import './comp/BreadCrumbs/breadcrumbs.scss';
@import './comp/BreadCrumbs/BreadCrumbsItem/breadcrumbsitem.scss';
@import './comp/AddItem/additem.scss';
@import './comp/Button/button.scss';
@import './comp/PageTitle/pagetitle.scss';
@import './comp/ProgressBar/progressbar.scss';
@import './comp/Item/item.scss';
@import './comp/Search/search.scss';
@import './comp/Plan/plan.scss';